@import "tailwindcss";

@theme {
    --color-bluedark-500: #5046e4 ;
    --color-bluelight-500: #e0e7ff ;
    --color-blueextra-500: #4439be ;
    --color-graymain-500: #F9FBFC ;
    --color-grayicon-500: #747A84 ;
    --colot-graySidebarItem: #ACB1B7 ;
}